#home-logo {
    font-style: italic;
    font-weight: bold;
    font-size: xxx-large;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease;
}

#home-logo:hover {
    animation: wave 0.9s ease infinite;
}

@keyframes wave {
    0% { transform: translateY(0); }
    25% { transform: translateY(-4px) rotate(-2deg); }
    50% { transform: translateY(2px) rotate(2deg); }
    75% { transform: translateY(-3px) rotate(-1deg); }
    100% { transform: translateY(0); }
}

#search-section label {
    font-weight: bold;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
}

#nav-credits {
    transition: all 0.4s ease;
}

#nav-credits:hover {
    transform: scale(1.12) translateY(-2px);
    box-shadow:
        0 0 10px #DBD096,
        0 0 20px #DBD096,
        0 0 35px #DBD096,
        inset 0 0 10px #DBD096;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10;
    margin: 1rem 0;
}

.switch {
    position: relative;
    width: 46px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #9AAC8C !important;

}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #2f80ed;
}

input:checked + .slider::before {
    transform: translateX(22px);
}

.switch:hover .slider {
  background-color: #bfc6b8 !important;
}

.switch input:checked + .slider:hover {
  background-color: #879b73 !important; 
}

.switch:hover .slider::before {
  box-shadow: 0 0 0 4px rgba(157, 172, 140, 0.25);
}
